
/* Card */
.card {
  border: 3px #f3f3f3 solid;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.3);
  transition: all 0.3s linear;
  cursor: pointer;
  background-color: #f3f3f3;
  padding: 10px;
  max-width: 220px;
  text-align: left;
  margin: 0 auto; 

  img {
    max-width: calc(100%);
    margin: 0 auto;
    display: block; 
  }

  &:hover {
    background-color: #90918a;
    border-color: #90918a; 
  }

  .info {
    text-align: center;
    width: 100%;
    height: auto;
    margin-top: 10px;
    margin-bottom: 10px;
  }

}

.cards-slider {
  position: relative;
  max-width: 200px;
  margin: 0 auto; 

  .cards-slider-wrapper {
    display: flex; 
    position: absolute;
    transition: transform 300ms;
  }

  .card {
    flex: 1; 
    min-width: 200px;
    opacity: 0.5;
    transition: opacity 300ms linear;
  }

  &:after {
    content: '';
    display: block;
    width: 100%;
    height: 140px;
    outline: 5px solid #d0dae0;
    position: absolute;
    top: 0;
    left: 0; 
  }
}

$i: 0;
@for $i from 0 through 7 {
  .cards-slider.active-slide-#{$i} #card-#{$i} {
    opacity: 1;
  }
}